main {
  max-width: 45rem;
  margin: 0rem auto;
  padding: 1rem;
}

main > * + * {
  margin-top: 1em;
}

p > code {
  margin-left: 0.1em;
  margin-right: 0.1em;
  padding: 0rem 0.4rem;
  border-bottom: 0.2rem solid var(--accent);
}

@supports ((-webkit-mask-image: url()) or (mask-image: url())) {
  p > code {
    --icon-size: 1.5rem;
    position: relative;
    padding-right: calc(var(--icon-size) * 1.25);
    padding-left: 0;
    border-bottom: none;
  }

  p > code::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0%;
    width: var(--icon-size);
    height: var(--icon-size);
    transform: translate(0%, -50%);
    background: var(--accent);
    mask-image: url('data:image/svg+xml,%3Csvg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cpath fill="currentColor" stroke="none" d="M-40.5-33v16h.5v.5h80v-16h-.5v-.5h-80zm8.5.5a4.5 4.5 0 014.5 4.5 4.5 4.5 0 01-4.5 4.5 4.5 4.5 0 01-4.5-4.5 4.5 4.5 0 014.5-4.5zm13 0a4.5 4.5 0 014.5 4.5 4.5 4.5 0 01-4.5 4.5 4.5 4.5 0 01-4.5-4.5 4.5 4.5 0 014.5-4.5zm13 0A4.5 4.5 0 01-1.5-28 4.5 4.5 0 01-6-23.5a4.5 4.5 0 01-4.5-4.5A4.5 4.5 0 01-6-32.5z"/%3E%3Cg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpath d="M-45-37.5h90v75h-90z" stroke-width="10"/%3E%3Cg stroke-width="8"%3E%3Cpath d="M5-4L-5 21M-18 0l-8 8 8 8M18 0l8 8-8 8"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
    -webkit-mask-image: url('data:image/svg+xml,%3Csvg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cpath fill="currentColor" stroke="none" d="M-40.5-33v16h.5v.5h80v-16h-.5v-.5h-80zm8.5.5a4.5 4.5 0 014.5 4.5 4.5 4.5 0 01-4.5 4.5 4.5 4.5 0 01-4.5-4.5 4.5 4.5 0 014.5-4.5zm13 0a4.5 4.5 0 014.5 4.5 4.5 4.5 0 01-4.5 4.5 4.5 4.5 0 01-4.5-4.5 4.5 4.5 0 014.5-4.5zm13 0A4.5 4.5 0 01-1.5-28 4.5 4.5 0 01-6-23.5a4.5 4.5 0 01-4.5-4.5A4.5 4.5 0 01-6-32.5z"/%3E%3Cg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpath d="M-45-37.5h90v75h-90z" stroke-width="10"/%3E%3Cg stroke-width="8"%3E%3Cpath d="M5-4L-5 21M-18 0l-8 8 8 8M18 0l8 8-8 8"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
  }
}

.code {
  position: relative;
  --padding: 1.25rem;
}

.code pre {
  line-height: 1.75;
  padding: var(--padding);
  border-radius: 1rem;
}

.code > svg {
  color: var(--accent);
  top: var(--padding);
  top: calc(var(--padding) * 1.25);
  right: var(--padding);
  width: 1.25em;
  height: auto;
  position: absolute;
}

.code pre {
  overflow-x: auto;
}

.code pre::-webkit-scrollbar {
  height: 0.4rem;
}

.code pre::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 0.2rem;
}
