main {
  max-width: var(--max-width, 48rem);
  margin: 0rem auto;
  padding: 1rem;
}

main > * + * {
  margin-top: 1em;
}

p > code {
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  border-bottom: 0.2rem solid var(--accent);
}

@supports ((-webkit-mask-image: url()) or (mask-image: url())) {
  p > code {
    border-bottom: none;
    --icon-size: 1.25em;
    display: inline-flex;
    align-items: center;
    gap: 0 0.4rem;
  }

  p > code::after {
    content: "";
    width: var(--icon-size);
    height: var(--icon-size);
    background: var(--accent);
    mask-image: url('data:image/svg+xml,\
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100">\
        <path fill="currentColor" stroke="none" d="M-40.5-33v16h.5v.5h80v-16h-.5v-.5h-80zm8.5.5a4.5 4.5 0 014.5 4.5 4.5 4.5 0 01-4.5 4.5 4.5 4.5 0 01-4.5-4.5 4.5 4.5 0 014.5-4.5zm13 0a4.5 4.5 0 014.5 4.5 4.5 4.5 0 01-4.5 4.5 4.5 4.5 0 01-4.5-4.5 4.5 4.5 0 014.5-4.5zm13 0A4.5 4.5 0 01-1.5-28 4.5 4.5 0 01-6-23.5a4.5 4.5 0 01-4.5-4.5A4.5 4.5 0 01-6-32.5z"/>\
        <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">\
          <path d="M-45-37.5h90v75h-90z" stroke-width="10"/>\
          <g stroke-width="8">\
            <path d="M5-4L-5 21M-18 0l-8 8 8 8M18 0l8 8-8 8"/>\
          </g>\
        </g>\
      </svg>');
    -webkit-mask-image: url('data:image/svg+xml,\
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100">\
        <path fill="currentColor" stroke="none" d="M-40.5-33v16h.5v.5h80v-16h-.5v-.5h-80zm8.5.5a4.5 4.5 0 014.5 4.5 4.5 4.5 0 01-4.5 4.5 4.5 4.5 0 01-4.5-4.5 4.5 4.5 0 014.5-4.5zm13 0a4.5 4.5 0 014.5 4.5 4.5 4.5 0 01-4.5 4.5 4.5 4.5 0 01-4.5-4.5 4.5 4.5 0 014.5-4.5zm13 0A4.5 4.5 0 01-1.5-28 4.5 4.5 0 01-6-23.5a4.5 4.5 0 01-4.5-4.5A4.5 4.5 0 01-6-32.5z"/>\
        <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">\
          <path d="M-45-37.5h90v75h-90z" stroke-width="10"/>\
          <g stroke-width="8">\
            <path d="M5-4L-5 21M-18 0l-8 8 8 8M18 0l8 8-8 8"/>\
          </g>\
        </g>\
      </svg>');
  }
}

/* .code blocks should have a wider gap above for the supporting span/svg (see --vertical-rhythm) */
.code {
  display: flex;
  flex-direction: column;
}

.code pre {
  margin-top: 0;
  padding: 1.25rem;
  border-radius: 1rem;
  line-height: 1.75;
}

.code > span {
  align-self: flex-end;
  display: inline-flex;
  align-items: center;
  gap: 0 0.5rem;
  transform: translateX(-1.5rem);
  color: #e4e7eb;
  background: #292d3e;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 0.4rem 1rem;
  font-weight: 700;
}

.code > span > svg {
  display: block;
  width: 1em;
  height: auto;
}

.code pre {
  overflow-x: auto;
}

.code pre::-webkit-scrollbar {
  height: 0.4rem;
}

.code pre::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 0.2rem;
}
